source/_static/verona-hydro/nodRed-flows.json
[{"id":"686d65d5.97d88c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f1938efb.b3b16","type":"mqtt in","z":"686d65d5.97d88c","name":"","topic":"stationMKR/#","qos":"1","datatype":"auto","broker":"442d1ac5.343774","x":250,"y":80,"wires":[["2edbc32.3677a3c","42772348.76788c"]]},{"id":"b8650786.59d888","type":"mqtt out","z":"686d65d5.97d88c","name":"Pum command","topic":"stationMKR/pumpcmd","qos":"1","retain":"true","broker":"442d1ac5.343774","x":640,"y":280,"wires":[]},{"id":"4b29a512.6fd13c","type":"mysql","z":"686d65d5.97d88c","mydb":"8bdd4b2a.669e28","name":"","x":700,"y":80,"wires":[["a18de386.c0b6d"]]},{"id":"2edbc32.3677a3c","type":"function","z":"686d65d5.97d88c","name":"DB filter","func":"var temperatura=context.get('temperatura');\nvar umidita=context.get('umidita');\n\nif (msg.topic ==\"stationMKR/temperatura\")\n{\n    temperatura = msg.payload;\n}\nelse if (msg.topic ==\"stationMKR/umidita\")\n{\n    umidita = msg.payload;\n}\nelse if (msg.topic ==\"stationMKR/wtrlvl\")\n{\n    temperatura=0;\n    context.set('temperatura',temperatura);\n    umidita=0;\n    context.set('umidita',umidita);\n}\n\ncontext.set('temperatura',temperatura);\ncontext.set('umidita',umidita);\n\nmsg.payload = temperatura+\"&\"+umidita;\n\nif (temperatura!==0 && umidita!==0)\n{\n    msg.topic =\"INSERT INTO `seedHydroTemp` (`id`, `temperatura`,`umidita`) VALUES (NULL, '\"+temperatura+\"','\"+umidita+\"');\"\n    context.set('temperatura',0);\n    context.set('umidita',0);\n    return msg;\n    \n}\n\n\n//return msg.payload\n","outputs":1,"noerr":0,"x":460,"y":60,"wires":[["4b29a512.6fd13c"]]},{"id":"e7603544.632d58","type":"ui_chart","z":"686d65d5.97d88c","name":"","group":"8a6026b4.4f4538","order":2,"width":0,"height":0,"label":"chart temperatura","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":460,"wires":[[]]},{"id":"c07f00b3.b5976","type":"debug","z":"686d65d5.97d88c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":520,"wires":[]},{"id":"f467e883.c585e8","type":"function","z":"686d65d5.97d88c","name":"","func":"tab=msg.payload;\nvar toSend=[{\n\"series\": [\"A\"],\n\"data\": [[]],\n\"labels\": [\"\"]\n}];\nvar i;\nfor (i = 0; i < tab.length; i++) { \n    //toSend={topic:\"temperature\", payload : tab[i].temperatura, timestamp : tab[i].time }\n    toSend[0][\"data\"][0].push({\n       x : tab[i].time,\n       y : tab[i].temperatura\n    });\n}\n\nvar test=[{\n\"series\": [\"A\"],\n\"data\": [\n    [{ \"x\": tab[1].time, \"y\": 5 },\n     { \"x\": tab[2].time, \"y\": 4 },\n     { \"x\": tab[3].time, \"y\": 2 }\n    ]\n],\n\"labels\": [\"\"]\n}];\n\nmsg.payload=toSend;\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":460,"wires":[["e7603544.632d58"]]},{"id":"7ea6c487.0b487c","type":"function","z":"686d65d5.97d88c","name":"","func":"var displayPoint = msg.payload;\n\nmsg.topic=\"SELECT `temperatura`, `umidita`,`time` FROM `seedHydroTemp` ORDER BY `time` DESC LIMIT \"+displayPoint+\";\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["508f7e0f.bd6fc"]]},{"id":"3b6a355d.b7f35a","type":"ui_numeric","z":"686d65d5.97d88c","name":"","label":"Numero de data ","tooltip":"","group":"57b0e2d1.c7720c","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"200","step":"10","x":200,"y":460,"wires":[["7ea6c487.0b487c"]]},{"id":"42772348.76788c","type":"function","z":"686d65d5.97d88c","name":"DB filter wtrLvl","func":"var wtrLvl;\n\n\n\n\nif (msg.topic ==\"stationMKR/wtrlvl\")\n{\n    wtrLvl = msg.payload;\n    msg.topic =\"INSERT INTO `seedWaterCycle` (`id`, `waterLevel`) VALUES (NULL, '\"+wtrLvl+\"');\"\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"x":480,"y":120,"wires":[["4b29a512.6fd13c"]]},{"id":"a18de386.c0b6d","type":"debug","z":"686d65d5.97d88c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":80,"wires":[]},{"id":"508f7e0f.bd6fc","type":"mysql","z":"686d65d5.97d88c","mydb":"8bdd4b2a.669e28","name":"","x":560,"y":460,"wires":[["f467e883.c585e8","52e1065e.00da68","c07f00b3.b5976"]]},{"id":"6254b9fc.d87558","type":"ui_chart","z":"686d65d5.97d88c","name":"","group":"8a6026b4.4f4538","order":2,"width":0,"height":0,"label":"chart umidita","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":580,"wires":[[]]},{"id":"1e1c5c38.f17924","type":"debug","z":"686d65d5.97d88c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":620,"wires":[]},{"id":"52e1065e.00da68","type":"function","z":"686d65d5.97d88c","name":"","func":"tab=msg.payload;\nvar toSend=[{\n\"series\": [\"A\"],\n\"data\": [[]],\n\"labels\": [\"\"]\n}];\nvar i;\nfor (i = 0; i < tab.length; i++) { \n    //toSend={topic:\"temperature\", payload : tab[i].temperatura, timestamp : tab[i].time }\n    toSend[0][\"data\"][0].push({\n       x : tab[i].time,\n       y : tab[i].umidita\n    });\n}\n\nvar test=[{\n\"series\": [\"A\"],\n\"data\": [\n    [{ \"x\": tab[1].time, \"y\": 5 },\n     { \"x\": tab[2].time, \"y\": 4 },\n     { \"x\": tab[3].time, \"y\": 2 }\n    ]\n],\n\"labels\": [\"\"]\n}];\n\nmsg.payload=toSend;\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":600,"wires":[["6254b9fc.d87558","1e1c5c38.f17924"]]},{"id":"2d74770f.1fa708","type":"ui_numeric","z":"686d65d5.97d88c","name":"","label":"Tempo de aqua ON en secunda","tooltip":"","group":"57b0e2d1.c7720c","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"20","step":"1","x":370,"y":280,"wires":[["b8650786.59d888","3bf10796.a863f8"]]},{"id":"3bf10796.a863f8","type":"debug","z":"686d65d5.97d88c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":220,"wires":[]},{"id":"d647a94e.68cab8","type":"ui_numeric","z":"686d65d5.97d88c","name":"","label":"Tempo de loop ON en minuta","tooltip":"","group":"57b0e2d1.c7720c","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"360","step":"1","x":380,"y":340,"wires":[["730e92ef.36293c"]]},{"id":"730e92ef.36293c","type":"mqtt out","z":"686d65d5.97d88c","name":"Pum command","topic":"stationMKR/loopcmd","qos":"1","retain":"true","broker":"442d1ac5.343774","x":640,"y":340,"wires":[]},{"id":"442d1ac5.343774","type":"mqtt-broker","z":"","name":"raspibroker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8bdd4b2a.669e28","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"DB_OrtoHydro","tz":""},{"id":"8a6026b4.4f4538","type":"ui_group","z":"","name":"GraphicOrto","tab":"8aa5db.abbcaa28","disp":true,"width":"6","collapse":false},{"id":"57b0e2d1.c7720c","type":"ui_group","z":"","name":"Orto Command","tab":"8aa5db.abbcaa28","disp":true,"width":"6","collapse":false},{"id":"8aa5db.abbcaa28","type":"ui_tab","z":"","name":"notizie orto-hydro","icon":"dashboard","order":1,"disabled":false,"hidden":false}]